<div>
<!--   <nav class="top-bar" data-topbar role="navigation">  -->
  
    <!-- Item options dropdown -->
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "All", items_path %></li>
      <li><%= link_to "Boards", index_boards_path %></li>
      <li><%= link_to "Clocks", index_clocks_path %></li>
      <li><%= link_to "Pieces", index_pieces_path  %></li>
      <li><%= link_to "Supplies", index_supplies_path %></li>

      <!-- only show if manager or admin -->
      <% if logged_in? && (current_user.role?(:manager)||current_user.role?(:admin)) %>
        <li><%= link_to "Add an Item", new_item_path %></li>
        <li><%= link_to "Reorder List", reorder_list_path %></li> 
        <li><%= link_to "Prices", item_prices_path %></li>
      <% end %>
      </ul>
    
      <!-- User profile options dropdown -->
      <% if logged_in? %>
        <ul id="dropdown2" class="dropdown-content">
          <li><%= link_to user_path(current_user) do%>
            <i class="small material-icons prefix">perm_identity</i> Profile
          <%end%>
          </li>

      
      <li><%= link_to "Log Out", logout_path%></li>
        </ul>
    <%end%>

    
    <nav class= "teal lighten-2">
    <div class = "nav-wrapper">
      <div id = "logo">
      <%= link_to image_tag('amlogo5.png'), home_path, class: 'brand-logo'%>

      </div>
        <ul class="right hide-on-med-and-down">
         <% if logged_in? %>

         <li> <%= link_to 'My Orders', user_all_orders_path(current_user) %> </li>

          <li><%= link_to cart_path do%>
            <i class="material-icons left">shopping_cart</i>Cart <%=@cart_items.size%>
       
            <%end%>
          </li>
          
          <li><%=link_to "Welcome, #{current_user.first_name}", user_path(current_user), class: "dropdown-button",data: {activates: "dropdown2"} %>
          </li>
        <% else %>
            <li><%= link_to "Log In", login_path %> </li>
          <%end%>
        </ul>

        <ul class="right hide-on-med-and-down">
        <!-- link to home -->
          <li><%= link_to "Home", home_path %></li>
        <!-- options for items -->
          <!-- <li class="has-dropdown"> -->
       <!--  <li class="dropdown-button" data-activates='dropdown1'> -->
          <li><%= link_to "Products", items_path%> </li>
          
        </li>

        <!-- options for purchases -->
        <%if logged_in? && (current_user.role?(:manager) || current_user.role?(:admin ))%>
        <li>
          <%= link_to "Purchases", purchases_path %>
        </li>

        <!-- options for prices -->
        <li>
          <%= link_to "Prices", item_prices_path %>
        </li>
        <%end%>
      </ul>



    
      </div>
    </nav>
  </div>