
<%unless current_user.orders.nil? || current_user.orders.empty? %>
  <h4 class = "teal-text text-darken-2">Buy Again:</h4>
  <% buy_again = current_user.orders.chronological.first.order_items.map{|oi| oi.item} %>
  <%buy_again.each do |item|%>
            <div class="col 12">
          <div class="card horizontal">
            <div class="card-image">
                <% if item.photo_url.nil? %>
                  <%=image_tag("img_not_available.png")%>
                <% else %>
                  <%= image_tag(item.photo_url) %>
                <% end %>
              
            </div>
          
          <div class = "card-stacked">
            <div class="card-content">
              
              <h6 class = 'brown-text'><%= item.name %></h6>

              <p><%= number_to_currency item.current_price %></p>
                
                <%= link_to('Details', item_path(item))%> 
        
            
         
                <div>
                <%= form_tag add_to_cart_path, :method => 'get', html: { class: 'form-horizontal' } do %>
                  
                  <%= label_tag "add_to_cart[quantity]", 'Quantity' %>
                  <%= text_field :add_to_cart, :quantity %>

                
          
                <%= hidden_field :add_to_cart, :item_id, value: item.id %> 

                <button class="btn waves-effect waves-light right" type="submit" name="action" data-remote='true' >Add to Cart
                  <i class="material-icons right">add_shopping_cart</i>
                </button>

                </div>


                <%end%>
        </div>

        </div>
        </div>
  <%end%>
<%end%>
