
<br/>
<div class = 'row'>
  <div class = 'col s8 left'>

  <%= current_user.id %>
    <% if logged_in? && (params[:id] == current_user.id.to_s) %>
      <%= render partial: "profile", locals: {user: @user} %>
    <%end%>
    
    <% if  current_user.role?(:customer) %>
      <%= render partial: "customer_orders", locals: {user: @user} %>
    <% end %>

      </div>




        <div class = 'col s4 right'>
        <%= render partial: 'buy_again', locals: {user: @user} %>
      </div>


    </div>





<%= link_to 'All Orders', user_all_orders_path(@user) %>
