<%= simple_form_for @purchase, html: { class: 'form-horizontal'}, remote: false do |f| %>

    <legend><%= controller.action_name.capitalize %> Purchase</legend>

    <% @item = params[:item_id] %>

    <%= f.input :item_id, :as => :hidden, :input_html => {:value => @item} %>
    
    <%= f.input :quantity, input_html: {class: "avg"} %>


    <div class="form-actions">
      <%= f.submit 'Submit' %>
      <%= link_to 'Cancel', home_path %>
    </div>

<% end %>