<blockquote class = "main card-panel">
<div id="recent_purchases">
<% if @purchases.empty? %>
  <h4>There are no purchases at this time.</h4>
<% else %>
  <h2 class = 'teal-text text-darken-2'>Recent Purchases</h2>
  <table class="table bordered">
    <thead>
      <tr>
        <th width="225">Item</th>
        <th width="150">Quantity</th>
        <th width ="150">Manufacture Price</th>
        <th width="150">Cost
        <th width="150">Date</th>

      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.item.name, item_path(purchase.item) %></td>
          <td><%= purchase.quantity %></td>
          
          <td><%= number_to_currency purchase.item.manufacturer_price_on_date(purchase.date)%></td>
          <td><%= number_to_currency (purchase.quantity * purchase.item.manufacturer_price_on_date(purchase.date)) %> </td>
          <td><%= purchase.date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p>&nbsp;</p>
</div>
</blockquote>