<div class="parallax-container">
    <div class="parallax">
      <%=image_tag 'chess_strategy.jpeg' %>
    </div>
  </div>

<div class="section white container">
    <div class="row">
      <h1 class="header teal-text text-darken-2"><b>A&M Chess</b></h1>
      <h4 class="grey-text text-darken-3 lighten-3">Welcome to Alex and Mark's Chess Store! We are an online supplier that ships to schools. </h4>


      <br/> <br/> <br/> <br/> <br/>
      
    <div class = "row">

      <h3 class = "teal-text text-darken-2"> Check out our best selling products! </h3>
      <% unless @popular_limited.nil? || @popular_limited.empty? %>


      <% @popular_limited.first(2).each do |item,count| %>
        <div class="col s6 m6">
          <div class="card horizontal">
            <div class="card-image">
                <% if item.photo_url.nil? %>
                  <%=image_tag("Chess.jpg")%>
                <% else %>
                  <%= image_tag(item.photo_url) %>
                <% end %>
              
            </div>
          
          <div class = "card-stacked">
            <div class="card-content">
              
              <h5 class = 'brown-text'><%= item.name %></h5>

              <p><%= number_to_currency item.current_price %></p>
                
                <%= link_to('Details', item_path(item))%> 

                <%= form_tag add_to_cart_path, :method => 'get', html: { class: 'form-horizontal' } do %>
                  
                  <%= label_tag "add_to_cart[quantity]", 'Quantity' %>
                  <%= text_field :add_to_cart, :quantity %>

                
          
                <%= hidden_field :add_to_cart, :item_id, value: item.id %> 

                <button class="btn waves-effect waves-light" type="submit" name="action" data-remote='true'>Add to Cart
                  <i class="material-icons right">add_shopping_cart</i>
                </button>

              
                <%end%>
        
            
         

              
              
           
        
          </div>
          </div>
          </div>
        </div>
    <% end %> 

  <%end %>

  </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%=image_tag 'chess_strategy.jpeg'%></div>
  </div>


	</div>
	

</div>

</div>

</div>



