<%= simple_form_for @order, html: { class: 'form-horizontal', multipart: true } do |f| %>

    

    <%= f.input :credit_card_number, input_html: {class: "avg"} %>
    <%= f.input :expiration_year %>
    <%= f.input :expiration_month %>
    
    <div id = "select-school">
    <%= f.input :school_id, collection: School.all.active.alphabetical.map{|s| [s.name, s.id]}, include_blank: true, input_html: {class: "avg"} %>
    </div>
    

    <br/>
    <a class="waves-effect waves-light btn" onclick="$('#create-school').show(600)">Add a New School</a>
    
    <br/>
    

    <div id = "create-school">
        <%= f.input :school_name, label: "Name" %>
        <%= f.input :school_street_1, label: "Street Address Line 1" %>
        <%= f.input :school_street_2, label: "Street Address Line 2" %>
        <%= f.input :school_city, label: "City"%>
        <%= f.input :school_state, label: "State" %>
        <%= f.input :school_zip, label: "Zip" %>
    </div>

    
    <br/>
    <div class="form-actions">
      <%= f.submit nil, :class => 'waves-effect waves-light btn' %>
      <%= link_to 'Cancel', items_path, :class => 'waves-effect waves-light btn' %>
    </div>

<% end %>