<div class="fields">
  <div class="order">
    <!-- x icon to remove -->
    <%= f.link_to_remove("x") %>
    <!-- fields -->
    <%= f.input :name%>
    <%= f.input :street_1 %>
    <%= f.input :street_2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :min_grade %>
    <%= f.input :max_grade %>
  </div>
</div>