

<% if @boards.empty? && @pieces.empty? && @clocks.empty? && @supplies.empty? %>
  <h3>There are no items in the system at this time</h3>
<% else %>
  <h2 class = "teal-text text-darken-2">All Products</h2>
 
<%end %>



<% if logged_in? && (current_user.role?(:manager) || current_user.role?(:admin))%>
  <%= render partial: "current_items", locals: {items: @boards, item_type: "boards"}  %>
  <br/>

  <br/>
  <%= render partial: "current_items", locals: {items: @pieces, item_type: "pieces"} %>

  <br/>

  <br/>

  <%= render partial: "current_items", locals: {items: @clocks, item_type: "clocks"} %>
  <br/>

  <br/>
  
  <%= render partial: "current_items", locals: {items: @supplies, item_type: "supplies"} %>

  <br/>

  <br/>
 
<% else %>  

  <h4 class = 'brown-text '>Chess Boards</h4>
  <%= render partial: "current_items1", locals: {items: @boards, item_type: "boards"}  %>

  <div class="divider"></div>


  <h4 class = 'brown-text'> Chess Pieces </h4>
  <%= render partial: "current_items1", locals: {items: @pieces, item_type: "pieces"} %>
 
  <div class="divider"></div>

  <h4 class = 'brown-text'> Clocks</h4>
  <%= render partial: "current_items1", locals: {items: @clocks, item_type: "clocks"} %>
  

  <div class="divider"></div>

  <h4 class = 'brown-text'>Supplies</h4>
  <%= render partial: "current_items1", locals: {items: @supplies, item_type: "supplies"} %>

  <div class="divider"></div>


<% end %>
