<% unless items.nil? || items.empty? %>
  <h5><%= item_type.capitalize %></h5>
<!--   <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
        <th width="100">Inventory</th>
      </tr>
    </thead>
    <tbody> -->


      <% items.each do |item| %>
        <div class="col s4 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <%=image_tag("Chess.jpg", class: "activator")%>
            </div>
            
            <div class="card-content">
              
              <span class="card-title activator grey-text text-darken-4"><%= item.name %>

              <i class="material-icons right">more_vert</i></span>
                
                <p> <%= number_to_currency item.current_price %> </p>
                
                 <%= link_to('Full Details', item_path(item))%> 


           
                <%= form_tag add_to_cart_path, :method => 'get', html: { class: 'form-horizontal' } do %>
                <%= text_field :add_to_cart, :quantity %>
                <%= hidden_field :add_to_cart, :item_id, value: item.id %> 
                  <button class="btn waves-effect waves-light" type="submit" name="action">Add to Cart
                    <i class="material-icons right">shopping_cart s</i>
                  </button>

                <%end%>
            </div>
    

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= item.name %><i class="material-icons right">close</i></span>
      <p> <%= item.description %></p>
    </div>
  </div>

  </div>


  <% end %> 

  <%end %>
