<div class="row">

<% unless items.nil? || items.empty? %>


      <% items.each do |item| %>
        <div class="col s6 m6">
          <div class="card hoverable large">
            <div class="card-image waves-effect waves-block waves-light">
                <% if item.photo_url.nil? %>
                  <%=image_tag("Chess.jpg", class: "activator")%>
                <% else %>
                  <%= image_tag(item.photo_url, class: "activator") %><
                <% end %>


              
            </div>
            
            <div class="card-content">
              
              <span class="activator grey-text text-darken-4"><h6><%= item.name %></h6>

              <i class="material-icons right">more_vert</i></span>
                
                <p> <%= number_to_currency item.current_price %> </p>
                
                 <%= link_to('Full Details', item_path(item))%> 


           
                <%= form_tag add_to_cart_path, :method => 'get', html: { class: 'form-horizontal' } do %>
                <%= text_field :add_to_cart, :quantity %>
                <%= hidden_field :add_to_cart, :item_id, value: item.id %> 
                <a class="waves-effect waves-light btn" href="#modal1">Modal</a>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Add to Cart
                    <i class="material-icons right">add_shopping_cart</i>
                  </button>

                <%end%>
            </div>
     <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>My Cart</h4>
      <p><%=@cart_items%></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= item.name %><i class="material-icons right">close</i></span>
      <p> <%= item.description %></p>
    </div>
  </div>

  </div>


  <% end %> 

  <%end %>

  </div>
