<div class="row">
  <div class="col s7">
    <h3><%= @item.name %></h3>
  </div>
  <div class="col s5">
    <%= image_tag 'img_not_available.png' %>
  </div>
</div>

<p>
  <b>Description</b>: <%= @item.description %>
</p>

<div id = 'current_price'>
  <%= render :partial => 'current_price' %>
</div>

<% if logged_in? && (current_user.role?(:manager)||current_user.role?(:admin))%>
<p>
  <b>Inventory Level</b>: <%= @item.inventory_level.nil? ? 'N/A' : @item.inventory_level %>
</p>

<p>
  <b>Reorder Level</b>: <%= @item.reorder_level.nil? ? 'N/A' : @item.reorder_level %>
</p>
<%end%>

<p>
  <b>Category</b>: <%= @item.category.capitalize %>
</p>

<p>
  <b>Color</b>: <%= @item.color.nil? ? 'N/A' : @item.color %>
</p>

<p>
  <b>Total weight</b>: <%= @item.weight.nil? ? 'N/A' : @item.weight %> lbs.
</p>

<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>