

<% if logged_in? && (current_user.role?(:admin) || current_user.role?(:manager) ) %>
    <%= render partial: "partials/index_structure", locals: {model_name: "item", 
                                                         primary: "active_items", 
                                                         secondary: nil,
                                                         sidebar: "inactive_items"} %>
<% else %>
    
    <div class="row">

        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#all">All</a></li>
                <li class="tab"><a href="#boards">Boards</a></li>
                <li class="tab"><a href="#pieces">Pieces</a></li>
                <li class="tab"><a href="#clocks">Clocks</a></li>               
                <li class="tab"><a href="#supplies">Supplies</a></li>
              </ul>
        </div>
      
          
          <div id="all" class="col s12">

            <%= render partial: 'active_items' %>
          
          </div>
          
      
          <div id="boards" class="col s12">
            <h2 class = 'teal-text text-darken-2'>Products</h2>
            <h4 class = 'brown-text'>Chess Boards </h4>
            <%= render partial: "current_items1", locals: {items: @boards, item_type: "boards"}  %>
          </div>



          <div id="pieces" class="col s12">
            <h2 class = 'teal-text text-darken-2'>Products</h2>
            <h4 class = 'brown-text'> Chess Pieces </h4>
            <%= render partial: "current_items1", locals: {items: @pieces, item_type: "pieces"}  %>
          </div>

          <div id="clocks" class="col s12">
            <h2 class = 'teal-text text-darken-2'>Products</h2>
            <h4 class = 'brown-text'> Clocks </h4>
            <%= render partial: "current_items1", locals: {items: @clocks, item_type: "clocks"}  %>
          </div>
           
          <div id="supplies" class="col s12">
            <h2 class = 'teal-text text-darken-2'>Products</h2>
            <h4 class = 'brown-text'> Other Supplies </h4>
            <%= render partial: "current_items1", locals: {items: @supplies, item_type: "supplies"}  %>
          </div>
        </div>
        
    
                                      
<% end %>

