<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chess Warehouse :: <%= controller.controller_name.capitalize %></title>


    <%= stylesheet_link_tag "application"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Belleza|Federo|Gafata|Roboto+Condensed" rel="stylesheet">




     <!-- Stylesheet for Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


    <script type="text/javascript">
      $( document ).ready(function(){
        $(".dropdown-button").dropdown();
      })
    </script>
    

          
  </head>

  <body>
    <header>
    
    <div id="title_area">
       <%= render :partial => "partials/nav" %>
       <br/> <br/>
      
    </div>
    </header>
   
   <% if @home %>
    <div class = 'col s12' id = 'main_content'>

      <%= render :partial => "partials/flash" %>
      <%= yield %>
    </div>

   
   <% else %> 

   <main>

    <div class="container row col s12">
      
      <div class= "col s12" id="main_content">
        <%= render :partial => "partials/flash" %>
        <%= yield %> 
        <%= render partial: 'items/cart_modal' %>    
      </div>
    
    </div>

    <% end %>
    
    </main>

    

    <footer>
      <div class="col s12" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 

  </body>
</html>
